
@font-face {
    font-family: Fontnubank;
    src: url("../Font/GraphikLCG-Medium.woff");
}

@font-face {
    font-family: Fontnubank-2;
    src: url("../Font/nubank.woff");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #820AD1;
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
}

#logo-login{
    position: absolute;
    margin: 30px 0 0 30px;
}
#logo-login svg{
    display: inline-block;
    vertical-align: middle;
    height: auto;
}

#container{
    margin: 50px auto;
}

#arealogin{
    max-width: 1280px;
}

form{
    height: 576px;
    width: 448px;
}

#login{
    margin: 100px auto 0 auto;
    background: #fff;
    border-radius: 2%;
    text-align: center;
    display: block;
}

#login-font p {
    margin: 60px 0;
    padding-top: 70px;
    text-align: center;
    display: block;
    font-family: Fontnubank;
    opacity: 95%;
    font-size: 16pt;
}

#caixa-username{
    height: 270px;
    width: 320px;
    margin: auto;
}

#input-single{
    position: relative;
    margin: 20px 0;
    width: 100%;
}

#username {
    border: 0;
    width: 100%;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.305);
    outline: 0;
    padding-top: 3px;
}

.senhalogin{
    border: 0;
    width: 100%;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.305);
    outline: 0;
    padding: 20px auto 0 auto;
}

#input-single label{
    position: relative;
    display: flex;
    left: 0;
    padding-top: 25px;
    padding-bottom: 0;
    font-size: 12pt;
    font-family: Fontnubank;
    opacity: 60%;
}

#input-single-senha label{
    position: relative;
    display: flex;
    left: 0;
    padding-top: 25px;
    padding-bottom: 3px;
    font-size: 12pt;
    font-family: Fontnubank;
    opacity: 60%;
}

.continuar{
    width: 100%;
    height: 70px;
    margin-top: 55px;
    border: solid rgba(0, 0, 0, 0.171) 1px;
    font-size: 10pt;
    color: rgba(0, 0, 0, 0.171);
    font-family: Fontnubank;
    background: none;
    text-align: center;
    border-radius: 3%;
}

#link-cad{
    display: block;
    margin: 38px auto;
    height: 70px;
    width: 320px;
    text-align: center;
}

#link-cad a{
    text-decoration: none;
    display: block;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 10.5pt;
    opacity: 70%;
    font-family: Fontnubank;
}